#crosshair {
    height: 5%;
    position: fixed;
    z-index: 0;
}

.bloodsplatter {
    display: none;
    width: 10%;
    height: 10%;
}

body {
    background-image: url("https://bit.ly/2Q4q14a");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#bluebird {
    position: absolute;
}

#redbird {
    position: absolute;
}

#yellowbird {
    position: absolute;
}

.redflystraight {
    display: block;
    position: fixed;
    z-index: 1;
}

.redflyup {
    display: none;
    position: fixed;
    z-index: 1;
}

.redflydown {
    display: none;
    position: fixed;
    z-index: 1;
}

.yellowflyup {
    display: none;
    position: fixed;
}

.yellowflydown {
    display: none;
    position: fixed
}

.yellowflystraight {
    display: block;
    position: fixed;
}

.blueflyup {
    display: none;
    position: fixed;
}

.blueflydown {
    display: none;
    position: fixed;
}

.blueflystraight {
    display: block;
    position: fixed;
}